<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mall商城后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="header">
		<a href="#" class="logo fl"><img src="../../static/admin/images/logo.png" alt="logo"></a>
		<a href="#" onclick="logout()" class="logout fr">退 出</a>
	</div>
	
	<div class="side_bar">
		<div class="user_info">


                <img src="../../static/admin/images/person.png" alt="张大山">
           


			<p>欢迎你 <em>{{ username }}</em></p>
		</div>

		<div class="menu_con">
			<div class="first_menu active"><a href="#" class="icon01">商品</a></div>
			<ul class="sub_menu show">
				<li><a class="icon022" href="/background/shop_list" target="main_frame">商品列表</a></li>
				<li class="current"><a href="/background/shop_add" class="icon021" target="main_frame">添加商品</a></li>
				<li class="current"><a href="/background/category" class="icon021" target="main_frame">商品分类</a></li>
				<li class="current"><a href="/background/leixing" class="icon021" target="main_frame">商品类型</a></li>
				<li class="current"><a href="/background/brand_lods" class="icon021" target="main_frame">品牌管理</a></li>
			</ul>
			
		<div class="first_menu"><a href="#" class="icon02">营销</a></div>
			<ul class="sub_menu">
				<li><a href="/background/miaosha_list" class="icon031" target="main_frame">秒杀活动列表</a></li>
				<li><a href="/background/youhui_list" class="icon032" target="main_frame">优惠券列表</a></li>
				<li><a href="/admin/catelist" class="icon034" target="main_frame">品牌推荐</a></li>
				<li><a href="/admin/catelist" class="icon034" target="main_frame">新品推荐</a></li>
				<li><a href="/admin/catelist" class="icon034" target="main_frame">人气推荐</a></li>
				<li><a href="/admin/catelist" class="icon034" target="main_frame">专题推荐</a></li>
				<li><a href="/admin/catelist" class="icon034" target="main_frame">广告列表</a></li>
			</ul>
		</div>
	</div>

	<div class="main_body" id="main_body">
		<iframe src="/admin/user_count" frameborder="0" id="main_frame" name="main_frame" frameborder="0" scrolling="auto"></iframe>
	</div>
	
	<script>
		$(function(){
			$('.first_menu').click(function(){
				$(this).addClass('active').siblings('.first_menu').removeClass('active');
				$(this).next().slideDown().siblings('.sub_menu').slideUp();
			})
			var frame_w = $('#main_body').outerWidth();
			var frame_h = $('#main_body').outerHeight();
			$('#main_frame').css({'width':frame_w,'height':frame_h});
		})


	</script>

</body>
</html>