<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试</title>
    <style>
    table{
        margin: 0 auto;
       
    };
    .ii{
        margin-left: -300px;
    }
    
    
    </style>
</head>
<body>
    <div>
        <table border="3px">

            <tr>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>商品数量</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>华为nove2</td>
                
                <td>2400</td>
                <td>20</td>
                <td>
                    <span>编辑</span>
                    <span>删除</span>
                    <span><a href="">转移商品</a></span>
                </td>
            </tr>
            <tr>
                    <td>诺基亚</td>
                    
                    <td>2000</td>
                    <td>24</td>
                    <td>
                            <span>编辑</span>
                            <span>删除</span>
                            <span><a href="">转移商品</a></span>
                        </td>
                </tr>
                <tr>
                        <td>小米10</td>
                        
                        <td>3000</td>
                        <td>10</td>
                        <td>
                                <span>编辑</span>
                                <span>删除</span>
                                <span><a href="">转移商品</a></span>
                            </td>
                    </tr>
                    
        </table>
    </div>
    <div id="ii">
            <tr>
                    <select>
                        <option>手机</option>
                        <option>电脑</option>
                    </select>
                </tr>
    </div>
    
</body>
</html>