{% extends 'news/base.html' %}

{# 标题部分 #}
{% block titleBlock %}
    首页内容
{% endblock %}

{# script部分 #}
{% block scriptScript %}
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
   <!--  <script type="text/javascript" src="../../static/news/js/index.js"></script> -->
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
{% endblock %}

{# 分类部分 #}
{% block headerBlock %}
   
        <li class="{% if loop.index == 1 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">分类名称</a></li>
  
{% endblock %}

{# 新闻列表 #}
{% block contentBlock %}
    <ul class="list_con fl">



        </ul>

{% endblock %}





